.blue{
	-fx-background-color: #00BFFF;
}
.blue:pressed
{
	-fx-background-color:#ab0000;
}
.blue:hover
{
-fx-background-color:#29b2e0;
}
.red{
	-fx-background-color:#FA8072;
}
.red:pressed{
	-fx-background-color:#F08080;
}
.red:hover{
	-fx-background-color:#F08080;
}

.vboxshadow
{
	-fx-border-color:#000;
	-fx-border-width: 3px;
}

.newdash
{
	
	-fx-background-size: 1200 900;
-fx-background-radius: 15;
-fx-border-radius: 15;
-fx-border-width:5;

}


.anchorpane
{
	-fx-background-color: #e5e6ed;
}


