
.vboxshadow
{
	-fx-border-color:#000;
	-fx-border-width: 3px;
}



.pane
{
	-fx-background-size:  1200 900;
	-fx-background-color:  #fff;
	-fx-border-width: 5;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
}
.anchorpane
{
	 -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #01e0df, #02ccfc); 
	
}
.anc
{
	-fx-background-color:  #e5e6ed;
}
.vbox
{
	 -fx-background-color: #fff;
	/*  -fx-border-width: 5;
	-fx-border-radius: 15;
	-fx-background-radius: 15; */
}
.hbox
{
	 -fx-background-color: #fff;
	-fx-border-width: 5;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
}
.bla
{
	-fx-background-color: #fff;
	-fx-border-width: 5;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
}
.lbl
{
	 -fx-text-fill: #000;
}
.txtfloat
{
	 -jfx-focus-color: #000;
	  -fx-prompt-text-fill: #3581B5;
}
.jfx-combo-box {
-fx-prompt-text-fill: black;
-jfx-focus-color:#000;
}

.btnlog
{
	-fx-background-color: #3999e8;
	
}
.btnlog:focused
{
	-fx-focus-color: #000;
}

.btnlog:hover
{
	-fx-background-color: #000;
}

